
//   ****************   GLOBAL   ************************
.container{
    width: 1000px;
    margin: 0 auto;
    padding: 0 auto;
    // display: flex;
}

h1{
	padding-left: 3rem;
}
img{
	height: 10vh;
	width: 12vw;
	}			


//   ****************   HEADER   ************************

header{
	padding-left: 3rem;
}


//   *************   SUSHI LIST   ************************
.sushiList{
	display: flex;
	margin-bottom: 1rem;;
	

		.sushiImg{
			display: flex;
			align-items: center;
	}
	.sushiDes{
		border: 1px solid green;
		min-width: 30%;
		padding: 1rem;
	}

}



//   ****************   FOOTER   ************************
footer{
    border: 1px solid black;
    margin-top: 10rem;
		min-height: 10rem;
		padding-left: 3rem;
}

#btnCom {
    display: none;
    margin: 1rem;
}

#btnVid {
    display: none;
    margin: 1rem;
}